<div class="form">
  <h2>Registration form</h2>
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div formGroupName="personDetails">
    <input type="text" name="" id="" placeholder="your name" formControlName="firstname">
    <div>
      <span *ngIf="reactiveForm.get('personDetails.firstname')?.errors?.['required']"> First name is a required field</span>
      <span *ngIf="reactiveForm.get('personDetails.firstname')?.errors?.['noSpaceAllowed']"> no space allowed please</span>
    </div>
  </div>
    <select name="" id="" formControlName="country">
      <option value="australia">Australia</option>
      <option value="canada">Canada</option>
      <option value="india">India</option>
    </select>
    <label for="male">Male</label>
    <input type="radio" value="male" id="male" formControlName="gender">
    <label for="female">Female</label>
    <input type="radio" id="female" value="female" formControlName="gender">

    <div class="form-inline">
      <label ><input type="checbox" value="sports" checked formControlName="hobbies">Sport</label>
      <label ><input type="checbox" value="movies" checked formControlName="hobbies">Movies</label>

    </div>
    <div formArrayName="skills">
      <ng-container *ngFor="let skill of skillsArray.controls; let i=index">
        <input type="text" placeholder="add skill.." formControlName="{{i}}">
      </ng-container>
      <button (click)="addSkill()">+ Add skill</button>
    </div>
    <input type="submit" value="Submit">

  </form>
</div>